<form *ngIf="showAddPokemon" class="add-form" (ngSubmit)="onSubmit()">

<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="text">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        id="name"
        placeholder="Enter Pokemon Name"
      />
    </div>
    <div class="form-control">
      <label for="text">Type</label>
      <input
        type="text"
        name="type"
        [(ngModel)]="type"
        id="type"
        placeholder="Add Pokemon Type"
      />
    </div>
    <div class="form-control">
        <label for="text">Weakness</label>
        <input
          type="text"
          name="weakness"
          [(ngModel)]="weakness"
          id="weakness"
          placeholder="Add Pokemon Weakness"
        />
      </div>
      <div class="form-control">
        <label for="text">Image url</label>
        <input
          type="text"
          name="image"
          [(ngModel)]="image"
          id="image"
          placeholder="Add Pokemon Image url"
        />
      </div>
    <!-- <div class="form-control form-control-check">
      <label for="text">Set Reminder</label>
      <input
        type="checkbox"
        name="reminder"
        [(ngModel)]="reminder"
        id="reminder"
      />
    </div> -->

    <input type="submit" value="Save Pokemon" class="btn btn-block" />
  </form>
  