<!-- <app-add-task (onAddTask)="addTask($event)"></app-add-task> -->
<app-add-pokemon (onAddPokemonCard)="addPokemonCard($event)"></app-add-pokemon>
<input
  type="text"
  placeholder="Search..."
  class="search"
  [(ngModel)]="searchText"
/>
<br />
<app-pokemon-item
  *ngFor="let pokiman of pokemonCards | filter: searchText"
  [pokimanx]="pokiman"
>
</app-pokemon-item>

<div class="pokemon-grid">
  <div class="box" *ngFor="let pokemonApi of pokemonApiResults">
    <img [src]="pokemonApi.sprites.front_default" alt = "Pokemon">
  </div>
</div>
<!--
<app-task-item
  *ngFor="let taskie of tasks"
  [taskx]="taskie"
  (onDeleteTask)="deleteTask(taskie)"
  (onToggleReminder)="toggleReminder(taskie)"
>
</app-task-item>

-->
