<!-- <app-add-task (onAddTask)="addTask($event)"></app-add-task> -->
<app-add-pokemon (onAddPokemonCard)="addPokemonCard($event)"></app-add-pokemon>
<input
  type="text"
  placeholder="Search..."
  class="search"
  [(ngModel)]="searchText"
/>
<br />
<!-- Calland commented out to test PokemonAPI.
<app-pokemon-item
  *ngFor="let pokiman of pokemonCards | filter: searchText"
  [pokimanx]="pokiman"
>
</app-pokemon-item>
-->

<app-pokemon-api [pokemonApix]="pokemonApiResults">
</app-pokemon-api>



<!--
<app-pokemon-type [pokimanx]="pokimanx"></app-pokemon-type>
>
</app-task-item>

-->
