.Fire{
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff;
    
}
.Water{
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff;
    
}
.Flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
    
}
.Grass{
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
    position: relative;
    
    text-align: center;

}
.Ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
    width: 38%;
}
.Poison{
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    
    color: #fff;
}
.Normal{
    background: linear-gradient(180deg, #a4acaf 50%, #b97fc9 50%);
    background-color: #a4acaf;
    
    color: #212121;
}
.Bug{
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    
    color: #fff;
}
.Fairy{
    background: linear-gradient(180deg, #fdb9e9 50%, #b97fc9 50%);
    background-color: #fdb9e9;
    
    color: #212121;
}
.Fighting{
    background: linear-gradient(180deg, #d56723 50%, #b97fc9 50%);
    background-color: #d56723;
    
    color: #fff;
}
.Rock{
    background: linear-gradient(180deg, #a38c21 50%, #b97fc9 50%);
    background-color: #a38c21;
    
    color: #fff;
}
.Steel{
    background: linear-gradient(180deg, #9eb7b8 50%, #b97fc9 50%);
    background-color: #9eb7b8;
    
    color: #fff;
}
.Ice{
    background: linear-gradient(180deg, #51c4e7 50%, #b97fc9 50%);
    background-color: #51c4e7;
    
    color: #212121;
}
.Ghost{
    background: linear-gradient(180deg, #7b62a3 50%, #b97fc9 50%);
    background-color: #7b62a3;
    
    color: #fff;
}
.Psychic{
    background: linear-gradient(180deg, #f366b9 50%, #b97fc9 50%);
    background-color: #f366b9;
    
    color: #fff;
}
.Electric{
    background: linear-gradient(180deg, #eed535 50%, #b97fc9 50%);
    background-color: #eed535;
    
    color: #212121;
}
.Dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    
    color: #fff;
}
.Dark{
    background: linear-gradient(180deg, #707070  50%, #707070  50%);
    background-color: #707070 ;
    margin-bottom: 3px;
    color: #fff;
}

.pokemon-results{
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    
    border: 50px;
    width: 30%;
    float: left;
    font-size: 11px;
    text-align: center;
    
}
.type{
    text-align: center;
    margin-left: 60px;
    margin-right:60px;
}
.image{
    box-sizing: 121x121 px;
    size: 121x121 px;
    
}
.hold{
    margin: 10px 80px 10px;
    max-width: 110px;

    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
    position: relative;
    width:50%;
    text-align: center;
}