.Fire{
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff;
    margin-bottom: 3px;
}
.Water{
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff;
    margin-bottom: 3px;
    
}
.Flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
    margin-bottom: 3px;
}
.Grass{
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
    margin-bottom: 3px;

}
.Ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
    margin-bottom: 3px;
}
.Poison{
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    margin-bottom: 3px;
    color: #fff;
}
.Normal{
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    margin-bottom: 3px;
    color: #212121;
}
.Bug{
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    margin-bottom: 3px;
    color: #fff;
}
.Fairy{
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    margin-bottom: 3px;
    color: #212121;
}
.Fighting{
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    margin-bottom: 3px;
    color: #fff;
}
.Rock{
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    margin-bottom: 3px;
    color: #fff;
}
.Steel{
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    margin-bottom: 3px;
    color: #fff;
}
.Ice{
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    margin-bottom: 3px;
    color: #212121;
}
.Ghost{
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    margin-bottom: 3px;
    color: #fff;
}
.Psychic{
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    margin-bottom: 3px;
    color: #fff;
}
.Electric{
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    margin-bottom: 3px;
    color: #212121;
}
.Dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    margin-bottom: 3px;
    color: #fff;
}
.Dark{
    background: linear-gradient(180deg, #707070  50%, #707070  50%);
    background-color: #707070 ;
    margin-bottom: 3px;
    color: #fff;
}
.weakness{
    text-align: center;
    margin-left: 60px;
    margin-right:60px;
    border-bottom: 5px;
}