{{setWeakness()}}
{{setTypess()}}
<div class="weakness">

    <h4>Weaknesss:</h4>

    <div *ngIf="Fire">
      <div class ="Fire">Fire {{FireValue}}</div>
    </div>
    <div *ngIf="Water">
      <div class ="Water">Water {{WaterValue}}</div>
    </div>
    <div *ngIf="Flying">
      <div class ="Flying">Flying {{FlyingValue}}</div>
    </div>
    <div *ngIf="Grass">
      <div class ="Grass">Grass {{GrassValue}}</div>
    </div>
    <div *ngIf="Ground">
      <div class ="Ground">Ground {{GroundValue}}</div>
    </div>
    <div *ngIf="Poison">
      <div class ="Poison">Poison {{PoisonValue}}</div>
    </div>
    <div *ngIf="Bug">
      <div class ="Bug">Bug {{BugValue}}</div>
    </div>
    <div *ngIf="Normal">
      <div class ="Normal">Normal {{NormalValue}}</div>
    </div>
    <div *ngIf="Fairy">
      <div class ="Fairy">Fairy {{FairyValue}}</div>
    </div>
    <div *ngIf="Fighting">
      <div class ="Fighting">Fighting {{FightingValue}}</div>
    </div>
    <div *ngIf="Rock">
      <div class ="Rock">Rock {{RockValue}}</div>
    </div>
    <div *ngIf="Steel">
      <div class ="Steel">Steel {{SteelValue}}</div>
    </div>
    <div *ngIf="Ice">
      <div class ="Ice">Ice {{IceValue}}</div>
    </div>
    <div *ngIf="Ghost">
      <div class ="Ghost">Ghost {{GhostValue}}</div>
    </div>
    <div *ngIf="Psychic">
      <div class ="Psychic">Psychic {{PsychicValue}}</div>
    </div>
    <div *ngIf="Electric">
      <div class ="Electric">Electric {{ElectricValue}}</div>
    </div>
    <div *ngIf="Dragon">
      <div class ="Dragon">Dragon {{DragonValue}}</div>
    </div>
  
  
    </div>